<configuration debug="false">

    <property name="entry.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %X{usrinf} %logger{36} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${entry.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="org.springframework.boot.actuate.audit.listener.AuditListener" level="WARN" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="kafka.utils" level="WARN" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="com.aggregator" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
